<div class="container">

<h2>Awesome, thanks! Now let's do some cool stuff</h3>

<form action="/homepage" method="post">
	Search instagram users:<input id="username" type="text" name="username" placeholder="enter instagram handle">
	<input type="submit" value="submit">
</form>
<br>
<p>OR</p>
<br>

<form action="/instapics"> 
	<input type="submit" value="Create a wallpaper with your instapics!">
</form>


