<div class="container">

<h3>Awesome, thanks! Now let's do some cool stuff</h3>

<form action="/homepage" method="post">
	<input id="username" type="text" name="username" placeholder="enter instagram handle">
	<input type="submit" value="submit">
</form>

<a href="/instapics" method="get">See your recent photos</a>


