<div class="container">
  <h2>Insta-WallPaper!</h2>
  <p>Do us a solid and connect to instagram</p>
    <form action="/oauth/connect">
    	<input type="submit" value="Connect with Instagram">
    </form>

</div>
